<h1>Your Clients List</h1>

<% @clients.each do |client| %>
    <fieldset>
    <p><%= link_to "#{client.name}", client_path(client) %></p>
    <p><strong><%= "#{client.neighborhood}" %></strong></p>
    <p> <% client.pets.each do |pet| %> </p>
        <p> <%= pet.name %> </p>
            <% end %>
    </fieldset>
<% end %>
