<h1>Your Clients List</h1>

<% @clients.each do |client| %>
    <p><%= link_to "#{client.name}", client_path(client) %></p>
    <p><%= "#{client.neighborhood}" %></p>
    <p> "Pet's names" </p>

    <% end %>